.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-img {
  width: 475px;
  height: 397px;
}
.page-notfound-text {
  font-family: HK Grotesk;
  font-size: 36px;
  font-weight: 500;
  color: #334155;
}

.we-are-sorry {
  font-size: 16px;
  font-weight: 400;
  color: #64748b;
}
