@media (min-width: 768px) {
  .question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .btn-img-options {
    height: 50px;
    width: 176px;
    margin: 0px;
  }

  .failure-img {
    height: 364.00048828125px;
    width: 676.999755859375px;
  }
  .failure-heading {
    color: #334155;
    font-size: 36px;
    font-weight: 500;
  }
  .busy-server {
    font-size: 16px;
    font-weight: 400;
    color: #64748b;
  }

  .retry-button {
    background-color: #0ea5e9;
    height: 40px;
    width: 78px;
    color: #f8fafc;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
  }
  .isFailure-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .question-page-container {
    background-color: #f8fafc;
    max-width: 1146px;
    width: 100%;
    height: 798px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
  }

  .question-count-container {
    background-color: #d2a7b3;
    display: flex;
    flex-direction: column;
    height: 76px;
    width: 117px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .text-question {
    font-size: 15px;
  }

  .text-question-count {
    font-size: 24px;
    color: #f8fafc;
  }

  .time-counter {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border-color: #0ea5e9;
    color: #1e293b;
    border-width: 3px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
  }

  .question-session {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
  }

  .whole-page-question {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .headers-question {
    font-size: 24px;
    color: #334155;
  }

  .list-Item {
    background-color: #cbd5e1;
    margin-left: 0px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    height: 64px;
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .option-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 132px;
    margin-top: 30px;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 0px;
    padding: 0px;
  }

  .btn-options {
    border: none;
  }

  .count-alpha {
    margin-right: 8px;
  }

  .btn-nxtPage {
    background-color: #cbd5e1;
    height: 40px;
    width: 136px;
    color: #7d7d7d;
    border-radius: 4px;
    align-self: flex-end;
  }

  .image-options {
    background-color: #ffedd5;
    border-radius: 2px;
    width: 176px;
    height: 50px;
    gap: 24px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #ea580c;
    padding-left: 20px;
  }

  .image-options-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
    width: 472px;
    min-height: 132px;
    margin-top: 50px;
  }

  .option-radio-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    gap: 24px;
    margin-bottom: 16px;
  }

  .order-option-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-left: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style-type: none;
  }

  .options-label {
    font-size: 20px;
    font-weight: 400;
    color: #334155;
    line-height: 1;
  }

  .correct-color {
    background-color: #1c944b;
    color: #f8fafc;
  }

  .wrong-color {
    background-color: #bf2626;
    color: #f8fafc;
  }

  .accessNxt-page {
    height: 40px;
    width: 136px;
    background-color: #0ea5e9;
    color: #f8fafc;
    border-radius: 4px;
    align-self: flex-end;
    border: none;
  }

  .button-align-result {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }

  .correct-circle-img {
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-left: 8px;
  }

  .wrong-circle-img {
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-left: 8px;
  }

  .icon-space {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .correct-circle-img-icon {
    width: 32px;
    height: 32px;

    margin: 0px;
    vertical-align: middle;
  }

  .wrong-circle-img-icon {
    width: 32px;
    height: 32px;

    margin: 0px;
    vertical-align: middle;
  }

  .icon-space-image {
    width: 50px;
    height: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .normal-color {
    background-color: #cbd5e1;
    color: #334155;
  }
}

@media (max-width: 767px) {
  .home-page {
    background-image: linear-gradient(
      to left,
      #b7b1d5,
      #d8bfd0,
      #f3dfd8,
      #dbbcc4
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .question-page-container {
    background-color: #f8fafc;
    width: 340px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
  }
  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .whole-page-question {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .question-count-container {
    background-color: #d2a7b3;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 10px 10px 5px 10px;
  }
  .text-question {
    font-size: 16px;
    color: #334155;
    font-weight: 500;
  }
  .text-question-count {
    font-size: 16px;
    color: #f8fafc;
    font-weight: 500;
  }
  .time-counter {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border-color: #0ea5e9;
    color: #1e293b;
    border-width: 3px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
  }
  .question-session {
    padding-top: 16px;
  }
  .headers-question {
    font-size: 16px;
    color: #334155;
    font-weight: 500;
  }
  .option-section {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    margin-left: 0px;
    padding: 0px;
  }

  .list-Item {
    background-color: #cbd5e1;
    margin-left: 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    width: 221px;
    height: 48px;
    gap: 12px;
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .btn-options {
    border: none;
  }
  .button-align-result {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }
  .btn-img-options {
    height: 50px;
    width: 176px;
    margin: 0px;
  }
  .normal-color {
    background-color: #cbd5e1;
    color: #334155;
  }

  .correct-color {
    background-color: #1c944b;
    color: #f8fafc;
  }

  .wrong-color {
    background-color: #bf2626;
    color: #f8fafc;
  }
  .icon-space {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .count-alpha {
    margin-right: 8px;
  }

  .correct-circle-img {
    width: 19px;
    height: 19px;
    margin-top: 10px;
    margin-left: 8px;
  }
  .wrong-circle-img {
    width: 19px;
    height: 19px;
    margin-top: 10px;
    margin-left: 8px;
  }
  .image-options-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    gap: 16px;
    width: 210px;

    margin-top: 20px;
  }
  .image-options {
    background-color: #ffedd5;
    border-radius: 2px;
    width: 176px;

    height: 48px;

    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
    color: #ea580c;
    padding: 10px;
  }
  .icon-space-image {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .correct-circle-img-icon {
    width: 19px;
    height: 19px;

    margin: 0px;
    vertical-align: middle;
  }
  .wrong-circle-img-icon {
    width: 19px;
    height: 19px;

    margin: 0px;
    vertical-align: middle;
  }
  .order-option-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-left: 0px;
    padding: 0px;
    margin-top: 20px;
    list-style-type: none;
  }
  .option-radio-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    gap: 16px;
    margin-bottom: 16px;
  }
  .options-label {
    font-size: 14px;
    font-weight: 400;
    color: #334155;
  }

  .btn-nxtPage {
    background-color: #cbd5e1;
    height: 40px;
    width: 136px;
    color: #7d7d7d;
    border-radius: 4px;
    align-self: flex-end;
  }
  .accessNxt-page {
    height: 40px;
    width: 136px;
    background-color: #0ea5e9;
    color: #f8fafc;
    border-radius: 4px;
    align-self: flex-end;
    border: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .question-page-container {
    width: 900px;
    height: 1000px;
  }
}
