@media (min-width: 768px) {
  .home-container {
    width: 300px;
  }

  .heading-question {
    color: #0ea5e9;
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
  }

  .para-container {
    font-size: 16px;
    text-align: center;
  }

  .home-page {
    background-image: linear-gradient(
      to left,
      #b7b1d5,
      #d8bfd0,
      #f3dfd8,
      #dbbcc4
    );
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 30px 40px 100px 40px;
  }

  .home-page-container {
    background-color: #f8fafc;
    max-width: 1146px;
    width: 90%;
    height: 798px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    padding: 10px;
  }
  .test-container {
    background-color: #fef3c7;
    border-radius: 12px;
    margin-top: 24px;
    display: flex;
    padding: 8px;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
  }
  .warning-icon {
    width: 25px;
    height: 25px;
    gap: 8px;
    margin-right: 8px;
    margin-top: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-container {
    width: 100%;
  }
  .home-page {
    background-image: linear-gradient(
      to left,
      #b7b1d5,
      #d8bfd0,
      #f3dfd8,
      #dbbcc4
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .home-page-container {
    background-color: #f8fafc;
    width: 389px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    padding: 10px;
  }
  .para-container {
    font-size: 16px;
    text-align: center;
  }
  .heading-question {
    color: #0ea5e9;
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
  }
  .test-container {
    background-color: #fef3c7;
    border-radius: 12px;
    margin-top: 24px;
    display: flex;
    padding: 8px;
    align-items: center;
    font-size: 16px;
    justify-content: center;
  }
  .warning-icon {
    width: 30px;
    height: 30px;
    gap: 8px;
    margin-right: 8px;
  }
}
@media (max-width: 575px) {
  .home-container {
    width: 100%;
  }
  .home-page {
    background-image: linear-gradient(
      to left,
      #b7b1d5,
      #d8bfd0,
      #f3dfd8,
      #dbbcc4
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .home-page-container {
    background-color: #f8fafc;
    width: 350px;
    height: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    padding: 10px;
  }
  .para-container {
    font-size: 16px;
    text-align: center;
  }
  .heading-question {
    color: #0ea5e9;
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
  }
  .test-container {
    background-color: #fef3c7;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    padding: 8px;
    align-items: center;
    font-size: 14px;
    justify-content: center;
  }
  .warning-icon {
    width: 20px;
    height: 20px;

    margin-right: 8px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home-page-container {
    width: 900px;
    height: 1000px;
  }
}
