@media (min-width: 576px) {
  .header-container {
    background-color: #fafbfe;
    padding: 20px 32px 20px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-img {
    width: 80px;
  }
  .logout-btn {
    display: none;
  }
}
@media (max-width: 575px) {
  .header-container {
    background-color: #fafbfe;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo-img {
    width: 50px;
  }
  .logOut {
    display: none;
  }
  .logout-btn {
    background-color: transparent;
    border: none;
  }
}
